* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-wrapper {
    max-width: 960px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

.timer {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
}

.questions-holder {
    padding: 20px 40px;
}

.question {
    margin: 10px 0;
}

input[type="radio"] {
    margin-right: 10px;
}

.btn {
    display: block;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    transition: all .25s;
    background-color: #ccc;
}

.btn:hover {
    background-color: #f4f4f4;
}

.btn:disabled:hover {
    background-color: #ccc;
}