* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #f4f4f4;
}

.main-wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 120px 0;
}

.main-wrapper:after {
    content: '';
    display: block;
    clear: both;
}

.main-nav {
    display: inline-block;
    width: 40%;
    float: left;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
}

.main-nav li {
    display: block;
    padding: 10px 20px;
    text-align: center;
    transition: all .35s;
}

.main-nav li:hover {
    background-color: #cccccc;
}

.menu-item {
    font-size: 24px;
    padding: 10px 40px;

}

label {
    display: block;
}

.dataContainer {
    display: inline-block;
    text-align: center;
    width: 50%;
    margin-left: 10%;
    padding: 20px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
    min-height: 100px;
}

.countries-list li {
    font-size: 18px;
    padding: 10px;
}

.change-btn {
    display: block;
    border: none;
    margin: 20px auto;
    padding: 10px;
    cursor: pointer;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
    transition: all .25s;
}

.change-btn:hover {
    box-shadow: none;
}

.change-btn:focus {
    outline: 0;
}

h3 {
    padding: 10px;
}